In [1]:
import pandas as pd
import numpy as np
import os

In [44]:
# Analysis only focuses the first 10 races of the season. (As we have stored on AWS)

path = r"C:\Users\abhij\Git Repos\F1---BigDataAnalysis\archive"
file_list = os.listdir(path)
file_list_df = pd.DataFrame((pd.DataFrame(file_list)[0].apply(lambda x: x.split("_"))).tolist(), columns = ['Type','csvname'])

# We need to remove the rest of the information to compress to only what is required
if len(file_list)>40:
    # Sort values by type and name of csv
    file_list_df.sort_values(by = ['Type','csvname'], inplace=True)
    to_keep_list = list(file_list_df.groupby("Type").head(10)['Type'] + "_" + file_list_df.groupby("Type").head(10)['csvname'])

    for filename in file_list:
        if filename not in to_keep_list:
            # Get full path and remove it
            full_path = os.path.join(path, filename)
            os.remove(full_path)

# Check if the deletion worked
len(os.listdir(r"C:\Users\abhij\Git Repos\F1---BigDataAnalysis\archive"))

40

In [61]:
# Initial EDA

# load each of the csvs into a dataframe
temeletry_file_list= os.listdir(path)[30:]

# Just viewing the first file
pd.read_csv(os.path.join(path,temeletry_file_list[0]))

C:\Users\abhij\AppData\Local\Temp\ipykernel_13604\2625731619.py:7: DtypeWarning: Columns (52) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(os.path.join(path,temeletry_file_list[0]))

,sessionTime,frameIdentifier,pilot_index,worldPositionX,worldPositionY,worldPositionZ,worldVelocityX,worldVelocityY,worldVelocityZ,worldForwardDirX,...,ersDeployedThisLap,carPosition,currentLapTime,currentLapNum,lapDistance,totalDistance,pitStatus,sector,driverStatus,resultStatus
0,0.01023,0,0,-687.42383,0.75292,-990.40375,0.00071,-0.00143,0.00172,32454,...,0.000,16,0.00000,1,118.44465,118.44465,NaN,0,on track,active
1,0.01023,0,1,-576.87360,0.91557,-974.38757,0.00013,0.00057,-0.00093,32450,...,0.000,2,0.00000,1,230.11572,230.11572,NaN,0,on track,active
2,0.01023,0,2,-599.56097,0.87824,-985.24347,-0.00061,0.00415,0.00095,32451,...,0.000,5,0.00000,1,206.13699,206.13699,NaN,0,on track,active
3,0.01023,0,3,-615.39478,0.85864,-987.51874,0.00047,-0.00412,-0.00303,32451,...,0.000,7,0.00000,1,190.13548,190.13548,NaN,0,on track,active
4,0.01023,0,4,-592.71625,0.89994,-976.68738,-0.00008,0.00081,-0.00109,32450,...,0.000,4,0.00000,1,214.11081,214.11081,NaN,0,on track,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1180635,3092.51074,65176,15,441.10193,0.41553,-512.68408,-36.00883,0.15383,58.34586,-17239,...,1041913.625,7,24.95355,36,1643.65625,160029.54688,NaN,0,on track,active
1180636,3092.51074,65176,16,-868.87018,0.22970,-885.97229,-18.92950,-0.01486,14.78322,-25814,...,1823236.000,15,73.34149,35,4075.90625,157936.48438,NaN,2,on track,active
1180637,3092.51074,65176,17,-634.35638,0.62236,-945.83472,0.00000,0.00000,0.00000,5329,...,0.000,19,1430.83008,11,177.33203,45430.44141,pitting,0,in garage,NaN
1180638,3092.51074,65176,18,494.54199,0.32383,-616.14539,-19.29347,-0.01696,50.47331,-11750,...,632714.250,8,23.03029,36,1527.85938,159913.75000,NaN,0,on track,active
1180639,3092.51074,65176,19,-805.82227,0.12108,-1011.11804,73.12712,0.38642,10.47222,32432,...,3791229.250,1,79.92320,36,4523.29688,162909.18750,NaN,2,on track,active

In [58]:
# load each of the csvs into a dataframe
racetime_file_list= os.listdir(path)[10:20]
# racetime_file_list
# Just viewing the first file
pd.read_csv(os.path.join(path,racetime_file_list[0]))

,frameIdentifierStart,frameIdentifierStop,pilot_index,LapTime,sector1TimeInMS,sector2TimeInMS,sector3TimeInMS,carPosition,currentLapNum
0,0,2072,0,92.11968,36341,33521,22257,16,1
1,2073,3799,0,82.83808,29926,31250,21662,17,2
2,3800,5724,0,83.18610,30751,31026,21409,16,3
3,5725,8511,0,83.25229,29933,31809,21510,15,4
4,7631,10842,0,83.40625,29986,31897,21523,14,5
...,...,...,...,...,...,...,...,...,...
652,56744,58401,19,79.73779,29619,29392,20726,1,32
653,58402,60071,19,79.77393,29456,29629,20688,1,33
654,60072,61752,19,80.48071,30025,29670,20785,1,34
655,61754,63414,19,79.57983,29591,29331,20657,1,35
656,63415,65176,19,79.92320,29272,30050,20601,1,36

In [59]:
# load each of the csvs into a dataframe
pilot_file_list= os.listdir(path)[0:10]
# racetime_file_list
# Just viewing the first file
pd.read_csv(os.path.join(path,pilot_file_list[0]))

,pilot_index,aiControlled,driverId,teamId,maxRPM,idleRPM
0,0,1,Pierre Gasly,Toro Rosso,13000,3499
1,1,1,Charles Leclerc,Ferrari,13000,4300
2,2,1,Max Verstappen,Red Bull Racing,13000,3499
3,3,1,Lando Norris,McLaren,13000,3799
4,4,1,Sebastian Vettel,Ferrari,13000,4300
5,5,1,Daniel Ricciardo,Renault,13000,3799
6,6,1,Lance Stroll,Racing Point,13000,4300
7,7,1,Carlos Sainz,McLaren,13000,3799
8,8,1,Antonio Giovinazzi,Alfa Romeo,13000,4300
9,9,1,Kevin Magnussen,Haas,13000,4300
10,10,1,Alexander Albon,Red Bull Racing,13000,3499
11,11,1,Nicholas Latifi,Williams,13000,4300
12,12,1,Lewis Hamilton,Mercedes,13000,4300
13,13,1,Romain Grosjean,Haas,13000,4300
14,14,1,George Russell,Williams,13000,4300
15,15,1,Sergio Perez,Racing Point,13000,4300
16,16,1,Daniil Kvyat,Toro Rosso,13000,3499
17,17,1,Kimi Räikkönen,Alfa Romeo,13000,4300
18,18,1,Esteban Ocon,Renault,13000,3799
19,19,0,Valtteri Bottas,Mercedes,13000,4300